<div class="mainBody">
  <h1>Create Idea</h1>
  <div>
    <div class="col-md-12">
      <label class="col-md-1">Title</label>
      <input class="col-md-6" type="text" />
    </div>

    <div class="col-md-12">
      <label class="col-md-1">Category</label>
      <select class="col-md-4">
        <option>Test!</option>
      </select>
    </div>

    <div class="col-md-12">
      <div class="col-md-1">
        Description
      </div>
      <textarea class="col-md-8">Tell us about your role...</textarea>
    </div>

    <div class="col-md-12">
      Media
    </div>

    <div class="row">
      <div class="col-md-12">
        Available Positions
      </div>
    </div>

    <div class="col-md-12">
      <button>Submit for Approval</button>
    </div>

  </div>
</div>


