<app-admin-nav></app-admin-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            Category > <font color="orange"><strong>Animations</strong></font>
        </div>
        
        <div class="col">
        </div>

        <div class="col text-right">
            Idea Leader: <font color="orange"><strong>Name &nbsp;</strong></font> 
            <a href="#">
                    <img class="nav-link" href="#"src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg" class="rounded-circle z-depth-0"
                    alt="avatar image" height="35"></a>
        </div>
    </div>

    <br>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="borded">
       
        <div class="row">
                   
        <div class="col">
            This idea has been reported by <strong>1</strong> user.
            
        </div>

        
        
        
        <div class="col text-right">
            <button type="button" class="btn btn-block btn-primary btn-md">Message Leader</button>
        </div>
             
            
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Comments: </strong>
                <br>
                <br>
                <font color="orange"><strong>FoliHat</strong> </font><br> <br>
                Alien invasion is a real threat. This is not a test. I hope you pay attention. I hope this works.
            </div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-block btn-primary btn-md">Dismiss</button>
            </div>

            
        </div>

        <div class="row">
            <div class="col"></div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-block btn-primary btn-md">Block Idea</button>
            </div>
        </div> 

</div>
    </div>
</div>


<p>Add the idea component here</p>
