<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm customNavBar border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand homeButton" [routerLink]="['/']">BrightIdeas</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']"></a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link navItemOrange" [routerLink]="['/create-idea']"
              >Create Idea</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link navItemWhite" [routerLink]="['/project']"
              >Project List</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link navItemOrange" [routerLink]="['/messages']"
               >Messages</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link navItemWhite" [routerLink]="['user-profile']"
               >User Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
