<app-admin-nav></app-admin-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            Category > <font color="orange"><strong>Animations</strong></font>
        </div>
        
        <div class="col">
        </div>

        <div class="col text-right">
            Idea Leader: <font color="orange"><strong>Name &nbsp;</strong></font> 
            <a href="#">
                    <img class="nav-link" href="#"src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle z-depth-0"
                    alt="avatar image" height="35"></a>
        </div>
    </div>
    <br>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="borded">
       
        <div class="row">
                   
        <div class="col">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This idea is pending approval.
            
        </div>

        
        
        
        <div class="col-lg-3">
            <button type="button" class="btn btn-block btn-primary btn-md">Approve</button>
        </div>
        <div class="col-lg-3">  
            <button type="button" class="btn btn-block btn-primary btn-md">Reject</button>
        </div>
             
            
        </div>
        </div>
    </div>

<p>Add the idea component here and remove this text!</p>
