<br /><br /><br />
<form>
  <h1>Login</h1>
  <div class="mainForm form-group">
    <div class="form-row">
      <label for="newPass" class="orange col-form-label" ng-model="newPass">New Password</label>
      <input name="newPass" type="password" class="form-control" />
    </div>
    <div class="form-row">
      <label for="confirmPass" class="orange col-form-label" ng-model="pass">Confirm Password</label>
      <input name="confirmPass" type="password" class="form-control" />
    </div>
    <div class="form-row">
      <button type="submit" class="btn btn-primary registerButton">Confirm</button>
    </div>
  </div>
</form>
