<app-admin-nav></app-admin-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            Category > <span class="orange"><strong>Animations</strong></span>
        </div>
        
        <div class="col">
        </div>

        <div class="col text-right">
            Idea Leader: <span class="orange"><strong>Name &nbsp;</strong></span>
            <a href="#">
                    <img class="nav-link" href="#"src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg" class="rounded-circle z-depth-0"
                    alt="avatar image" height="35"></a>
        </div>
    </div>

    <br>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="borded">
       
        <div class="row">
                   
        <div class="col">
            This user has been reported by <strong>UserName</strong>.
            
        </div>

        
        
        
        <div class="col text-right">
            <button type="button" class="btn btn-block btn-primary btn-md">Send Message</button>
        </div>
             
            
        </div>
        <br>
        <div class="row">
            <div class="col">
                <strong>Comments: </strong>
                <br>
                <br>
                <span class="orange"><strong>BadHat</strong> </span><br> <br>
                Alien invasion is a real threat. This is not a test. I hope you pay attention. I hope this works.
            </div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-block btn-primary btn-md">Dismiss</button>
            </div>

            
        </div>

        <div class="row">
            <div class="col"></div>
            
            <div class="col text-right">
                <button type="button" class="btn btn-block btn-danger btn-md">Ban User</button>
            </div>
        </div> 

</div>
    </div>
</div>

<p>could add the idea component here too?</p>
